:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

#generate-button {
  padding: 1em;
  text-align: center;
  background-color: var(--success);
  opacity: .5;
  border-radius: 10px;
}
#generate-button:hover {
  opacity: .8;
}
#generate-button:active {
  opacity: 1;
}

#generate-icon {
  float: left;
  height: 2em;
  width: 2em;
}

#generate-text {
  margin-bottom: -20px;
  padding-left: .7em;
  font-weight: bolder;
}

#password-text {
  color: var(--warning);
}
